:root {
  --page-top: 96px;
  --body-margin-left: 0px;
  --body-margin-right: 0px;
  --mask-visible: #000;
  --mask-hidden: transparent;
  --bg: #000;
  --transparent: rgba(0, 0, 0, 0);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.radix-themes {
  background-color: #000;
}

#global-texture {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 100vw;
  min-height: 100vh;
  opacity: 0.2;
  pointer-events: none;
  transform: translateY(0);
  filter: contrast(60%) brightness(100%);
}

.writing-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-decoration-color: #333;
  transition: text-decoration-color 0.2s;
}

.writing-link:hover {
  text-decoration-color: #ccc;
}

.blur {
  top: 0;
  --direction: to bottom;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  --h: min(96px, var(--page-top, 96px));
  height: var(--h);
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0.97;
  -webkit-mask-image: linear-gradient(
    var(--direction),
    var(--mask-visible) 25%,
    var(--mask-hidden)
  );
  mask-image: linear-gradient(
    var(--direction),
    var(--mask-visible) 25%,
    var(--mask-hidden)
  );
}

.blur:after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--direction), var(--bg), var(--transparent));
}
